body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    /*height: 100vh;
    /*flex-direction: row; /*row row-reverse column column-reverse*/
    /*flex-wrap: wrap; /*No Wrap - Wrap*/
    flex-flow: row wrap;
    direction: ltr; /*Direccion de lectura ltr rtl*/
    margin: 2px;
    border: 1px solid #000;
}

.flex-item {
    width: 100px;
    background-color: #911;
    color: #FFF;
    font-size: 50px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #D56;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-item:last-child {
    background-color: #000;
}
