body {
    margin: 0;
    background-color: #CCC;
}

.box, .bar {
    box-sizing: border-box;
}

.box {
    margin: 20px;
    background-color: #FFF;
    border: 2px solid #48e;
    padding: 6px;
    border-radius: 36px;
}

.bar {
    background-color: #48e;
    padding: 40px;
    width: 0%;
    border-radius: 30px;
    animation: growth-bar; /*Declara el nombre*/
    animation-duration: 2s; /*Cuando va a durar la animación*/
    animation-delay: 1s; /* Tiempo de espera despues de cargar para arrnacar*/
    /*animation-fill-mode: backwards;*/
    /*animation-fill-mode: both;*/
    animation-fill-mode: forwards; /*Como quiero que se ejecute*/
    animation-direction: normal; /* Direccion normal reverse*/
    animation-iteration-count: infinite; /* Cuantas veces quiero que se ejecute*/
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); /* Tiempos de animacion y moviento*/
}

@keyframes growth-bar {

    0% {
        width: 0%;
        background-color: #F33;
    }

    25% {
        width: 25%;
        background-color: yellow;
    }

    50% {
        width: 50%;
        background-color:green;
    }

    100% {
        width: 100%;
        background-color: blue;
    }
    /*
    from {
        width: 30%;
        background-color: #F33;
    }
    to {
        width: 100%;
        background-color: #F33;
    }*/
}