body {
    background-color: #fddada;
    background-image: url("https://cdn-icons-png.flaticon.com/512/21/21537.png");
    background-size: 100px;
    background-repeat: repeat-x; /*no-repear repeat-x repeat-y*/
}

.box {
    width: 400px;
    margin: 20px;
    margin-left: 50px;
    background-color: #0000aad9;
    background-image: url("https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg");
    background-position: center; /*top bottom center left right*/
    background-size: cover;/*contain*/
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

p {
    padding: 15px;
    margin: auto;
    color: #FFFFFF;
}

img {
    width: 200px;
}