body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.box {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-evenly;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.list_item {
    list-style: none;
    padding: 0 20px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.main_item {
    width: 300px;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1");
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
}

.main_item:first-child {
    background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.main_item:last-child {
    background-image: url("https://plus.unsplash.com/premium_photo-1681426687411-21986b0626a8?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaHxlbnwwfHwwfHx8MA%3D%3D");
}