body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    height: 100px;
    width: 100%;
    position: fixed;
}

.box {
    height: 60px;
    width: 60px;
    right: 0;
    bottom: 0;
    position: fixed;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4196/4196777.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.sticky {
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
    background-color: red;
    background-image: none;
}