body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 20% 20% 20% 40%;
    direction: ltr;
}

.grid_item {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #48e;
    color: #FFF;
}