body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    border: 1px solid #000;;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-item {
    width: 200px;
    background-color: #911;
    color: #fff;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.flex-item:first-child {
    background-color: #d56;
    flex-grow: 2;
}

.flex-item:nth-child(2) {
    background-color: #48e;
    flex-grow: 2;
}

.flex-item:last-child {
    background-color: #000;
}