body {
    background-color: #d0cfcf22;
    font-family: sans-serif;
    margin: 20px;
}

.box {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.francia {
    background-image: url(francia.jpg);
}

.italia {
    background-image: url(italia.jpeg);
}

h1 {
    padding: 25px;
}

p {
    padding: 30px;
}

h2 {
    padding: 10px;
    color: #FFFFFF;
}

.gradient {
    width: 100%;
    height: 800px;
    text-align: center;
    background: linear-gradient(rgb(230, 205, 205), transparent);
}
