body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    height: 100vh;
    /*flex-direction: row; /*row row-reverse column column-reverse*/
    /*flex-wrap: wrap; /*No Wrap - Wrap*/
    flex-flow: column wrap;
    direction: ltr; /*Direccion de lectura ltr rtl*/
    margin: 2px;
    border: 1px solid #000;
    justify-content: space-evenly; /*start end center space-between space-around - space_evenly*/
    align-content: space-evenly; /* Más de una linea de items*/
    align-items: start; /*Una sola linea de items*/

}

.flex-item {
    width: 100%;
    background-color: #911;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    order: 0;
}

.flex-item:first-child {
    background-color: #D56;
    background-image: url("https://images.unsplash.com/photo-1719937206930-84afb0daf141");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    order: -1;
}

.flex-item:last-child {
    background-color: #000;
    order: 2;
}
