body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr; /* Tamaño de los rows en lo implicito*/
    grid-auto-flow: row; /*Donde quiero que cree los elementos que no le defini*/
    grid-auto-columns: 1fr; /*Tamaño de los columns en lo implicito*/
    direction: ltr;
    column-gap: 30px;
    row-gap: 10px;
    gap: 30px 30px;
    gap: 30px;
    padding: 30px;
    margin: auto;
}

.grid_item {
    font-size: 30px;
    background-color: #48e;
    color: #FFF;
    max-width: 100%;
    border-radius: 16px;
}

.grid_item:first-child {
    /*grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;*/
    grid-column: span 4;
    grid-row: span 3;
}

.grid_item:hover {
    opacity: 0.6;
}