body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns:  minmax(100px, 2fr) repeat(2, minmax(100px, 1fr)) repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(50px, 1fr)) 2fr;
    direction: ltr;
}

.grid_item {
    margin: 10px;
    font-size: 30px;
    background-color: #48e;
    color: #FFF;
}