@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Thin.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Black.ttf) format(truetype);
    font-weight: 900;
}

