body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: row; /*row row-reverse column column-reverse*/
    direction: rtl; /*Direccion de lectura*/
    margin: 2px;
    border: 1px solid #000;
}

.flex-item {
    width: 100px;
    background-color: #911;
    color: #FFF;
    font-size: 50px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #D56;
}

.flex-item:last-child {
    background-color: #000;
}
