body {
    font-size: 10px;
}

div {
    background-color: #ededed;
    /*padding: 20px;*/
    /*Medidas Absolutas como CM MM o PG*/
    padding: 0.2in; /*20cm - 20mm - 0.2in*/
    border-left: 5px solid #999;
    font-family: sans-serif;
    font-size: 30px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

span {
    color: #999;
    font-size: 1rem;
    font-weight: 100;
}

p {
    margin: 0;
    color: #555;
    font-size: 0.5em;
    width: 50%;
}