.formulario {
    background-color: red;
    /*padding: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 45px;
    padding-bottom: 25px;
    padding: 10px 45px 25px 30px; /*Top Right Bottom Left*/
    padding: 20px 40px; /*Arriba y abajo -> Lados*/
    border: 3px solid black
}

.formulario_input {
    padding: 6px 10px;
    width: 90%;
    margin: 5px;
    border: 3px solid black

}

.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    width: 50%;
    border: 3px solid black

}

.box {
    background-color: red;
    height: 150px;
    width: 150px;
    margin: 10px;
    /*margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin: 10px 15px 20px 30px;*/
    border: 3px solid black

}

.box_grande {
    margin-top: 60px; /*Ejemplo del funcionamiento del Margin Colapse*/
    border: 3px solid black

}